<a href="https://colab.research.google.com/github/fininsight/text-mining-tutorial/blob/master/99_%EA%B8%B0%ED%83%80%EC%BD%94%EB%93%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 국내 주식 수정주가 조회

In [0]:
import requests
import pandas as pd
import xml.etree.ElementTree as ET

In [0]:
def getStockPrice(StockCode, Count = 500) :
    ret = pd.DataFrame(columns=['date', 'open', 'high', 'low', 'close','volumn'])
    
    url = "https://fchart.stock.naver.com/sise.nhn?symbol={}&timeframe=day&count={}&requestType=0"
    url = url.format(StockCode, Count)
    response = requests.get(url)
    
    e = ET.fromstring(response.text.replace('\n','').replace('\t',''))
    
    stock_history = []
    for item in e.find('chartdata').findall('item') :
        data = item.get('data').split('|')
        ret.loc[len(ret)] = data
        
    return ret

In [3]:
aa = getStockPrice('005930')
aa

         date   open   high    low  close    volumn
0    20170426  42700  42800  42520  42800    295896
1    20170427  42700  44520  41960  43840    460645
2    20170428  45780  45800  44520  44620    453714
3    20170502  45500  45500  44760  44900    281366
4    20170504  45700  45700  44860  45520    273802
5    20170508  45520  47020  45340  47020    391651
6    20170510  46160  47220  45600  45600    468219
7    20170511  45420  46180  45220  45500    425557
8    20170512  45760  46160  45660  45820    188458
9    20170515  45620  46280  45620  46100    160028
10   20170516  46660  46800  46100  46380    176075
11   20170517  46120  46640  46100  46340    148489
12   20170518  45740  46000  45540  45940    223207
13   20170519  45640  45780  44720  44720    315247
14   20170522  45040  45380  44760  45100    352871
15   20170523  45400  45580  44900  44920    252141
16   20170524  44860  45300  44800  44880    173508
17   20170525  45160  45680  44800  45680    260896
18   20170526  45600  46460  45540  46080    272273
19   20170529  46220  46400  45380  45620    174791
20   20170530  45520  45660  44480  44640    248672
21   20170531  44580  45020  44400  44700    373382
22   20170601  44860  44900  44400  44680    195070
23   20170602  45060  45960  45000  45960    249775
24   20170605  46040  46360  45720  45940    151988
25   20170607  46500  46500  45240  45300    274588
26   20170608  45000  45580  45000  45160    279575
27   20170609  45680  46440  45600  46100    234657
28   20170612  45420  45600  45140  45380    219086
29   20170613  45140  45620  45140  45400    172498
..        ...    ...    ...    ...    ...       ...
470  20190404  46150  47100  46150  46950  12650168
471  20190405  46950  47550  46600  46850   8546339
472  20190408  47250  47250  46150  46650   8507909
473  20190409  46700  46950  46200  46650   6878761
474  20190410  46400  46700  46050  46700  11883995
475  20190411  46700  46800  46150  46250  13697399
476  20190412  46050  46900  46000  46850   7668936
477  20190415  47150  47500  47000  47050   8733019
478  20190416  47400  47400  46800  47250   7730881
479  20190417  47300  47600  47000  47050   5513658
480  20190418  47200  47250  45500  45600  12808747
481  20190419  45750  46000  45250  45300   8479710
482  20190422  45400  45900  45100  45350   6006957
483  20190423  45050  45500  45000  45200   6920566
484  20190424  45400  45650  44150  44750  13299267
485  20190425  44250  45000  44100  44650  10868965
486  20190426  44200  45000  43800  44850   9739982
487  20190429  45150  46150  45100  46150   8777517
488  20190430  46000  46300  45350  45850  11121273
489  20190502  45500  46150  45400  45900   8625126
490  20190503  45900  46050  45300  45300   6562916
491  20190507  45250  45300  44400  44850  12014907
492  20190508  44300  44850  44200  44250  10398754
493  20190509  43900  44250  42450  42450  23029718
494  20190510  42600  43450  42450  42900  14579512
495  20190513  42500  43200  42350  42650   7635079
496  20190514  41300  43100  41300  42650  11563730
497  20190515  42700  43050  42550  42550   7670185
498  20190516  42350  42400  41350  41550  13687828
499  20190517  41950  42050  40850  41200  12294470

[500 rows x 6 columns]